header{
   background-color: #6e6e6e;
            padding: 15px;
}
 .logo{
    font-size: 4em;
    color: #fff;
}
.Осебе-article__text{
color: black;
}
.Осебе-article__title{
    padding: 5px;
    color: #1d5c81;
}
.header_nav li{
        display: inline-block;
}
.header_nav a{
            color: #fff;
            text-decoration: none;
            padding: 0 80px;
}
.header_nav li:first-child a{
            padding-left: 0;
}  
.centre{
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
